/* ecoder main stylesheet */

html, body { margin:0; padding:0; height: 100%; font-size: 9pt; font-family: arial, helvetica, sans-serif; }

html {
	max-height:100%; /* fix height for other browsers */
	padding:0; /*remove padding */
	margin:0; /* remove margins */
	border:0;
	background: #f2f2f2;
	font-size: 76%; /*set default font size */
	font-family: verdana, helvetica, sans-serif; /* set default font */
}

body {
	max-height: 100%; /* fix height for other browsers */
	overflow: hidden; /*get rid of scroll bars in IE */
	padding: 0;
	margin: 0;
	border: 0;
}

/********************** TREE ***********/
#tree {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:250px;
	width:250px;
	border-right:1px solid #58792A;
}
#tree h2 {
	background:#58792A;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:small;
	color:#FFFFFF;
	margin:0;
	padding:3px;
	text-align:center;
}
#tree > .error{
	background-color:#FF7373;
}
#tree .error {
	width:100px;
	margin:0 auto;
	margin-top:200px;
}
#tree ul {
	margin:0;
	padding:0;
	margin-left:-5px;
	display:none;
}
#tree ul#toplevel {
	margin-left:5px;
	display:block;
	overflow:scroll;
	position:fixed;
	top:26px;
	left:0;
	right:0;
	bottom:0;
	width:245px;
}
#tree ul#toplevel > li:first-child {
	margin-top:5px;
}
#tree li {
	background:url(design/icon_text.png) no-repeat;
	list-style:none;
	padding-left:21px;
}
#tree li.empty {
	background:none;
	list-style:none;
	padding-left:21px;
	margin-left:-15px;
}
#tree li[data-type="dir"] {
	background-image:url(design/icon_folder.png);
}
#tree li[data-type="file"] {
	background-image:url(design/icon_text.png);
}
#tree li[data-subtype="html"] {
	background-image:url(design/icon_html.png);
}
#tree li[data-subtype="script"] {
	background-image:url(design/icon_script.png);
}
#tree li[data-subtype="css"] {
	background-image:url(design/icon_css.png);
}
#tree li[data-subtype="text"] {
	background-image:url(design/icon_text.png);
}
#tree li[data-subtype="php"] {
	background-image:url(design/icon_php.png);
}
#tree li span {
	line-height:20px;
}

/*************************** OTHER STUFF AGAIN ****************/

a:link, a:hover, a:visited { text-decoration: none; color: #525252; }

/* javascript test & loader */
#splash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
}
#splash { position: absolute; top: 0; bottom: 0%; left: 0; right: 0%; background: url(design/bg_white_90.png); z-index: 100; text-align: center; width: 100%; height: 100%; }
#splash a { color: #342F2F; }
#splash h1 { padding: 2px 0 0 0; font-size: 14pt; font-weight: bold; margin: 0px; color: #01622E; }
#splash p { margin: 0px; padding: 0px; line-height: 1.3em; }
#splash .loading { height: 350px; background-color: transparent; color: #7D7D7D; width: 700px; margin: 0 auto; padding-top: 10px; }
#splash .loading a { font-weight: bold; color: orange; }
#splash .loading .one { float: left; height: 350px; background-color: transparent; color: #7D7D7D; width: 300px; margin: 0; padding: 0; }
#splash .loading .one .logo { background-color: transparent; height: 266px; margin: 8px 0 0 0; }
#splash .loading .one .about { background-color: transparent; padding: 0px 0 0 0px; text-align: center; height: 42px; }
#splash .loading .one .enter { font-size: 16pt; text-align: center; padding: 5px 0 0 15px; }
#splash .loading .two { float: left; height: 350px; background-color: transparent; color: #7D7D7D; width: 400px; margin: 0; padding: 0; text-align: left; }
#splash .loading .two .how { background-color: transparent; padding: 10px 0 0 0px; height: 108px; }
#splash .loading .two .requires { background-color: transparent; padding: 0px 0 0 0px; height: 75px; }
#splash .loading .two .how p, #splash .loading .two .requires p { margin: 0px; padding: 4px 0 0 1px; }


/** DIALOG.RENAME **/
div.dialogcontentwrapper.rename {

}
	div.dialogcontentwrapper.rename #feedback {
		display:none;
	}
	div.dialogcontentwrapper.rename #feedback.error {
		display:block;
		border:1px solid #FF0000;
	}
	div.dialogcontentwrapper.rename #feedback.success {
		display:block;
		border:1px solid #00FF00;
	}
	div.dialogcontentwrapper.rename #feedback.info {
		display:block;
		border:1px solid #0000FF;
	}
	div.dialogcontentwrapper.rename .submit {
		background:#FFFFFF;
		text-transform: uppercase;
		display: block;
	}



/** DIALOG.UPLOAD **/
div.dialogcontentwrapper.upload {
    font: 0.8em/1em "trebuchet MS", arial, sans-serif;
    color: #777;
}

div.dialogcontentwrapper.upload h1 {
    font-size: 1.6em;
    margin: 30px 0;
    padding: 0;
}

div.dialogcontentwrapper.upload h2 {
    font-size: 1.4em;
    padding: 0 0 6px 0;
    margin: 0;
    border-bottom: solid 1px #ccc;
}

div.dialogcontentwrapper.upload h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    padding: 0;
}

div.dialogcontentwrapper.upload p {
    margin: 0;
    padding: 0;
}

div.dialogcontentwrapper.upload form {
    padding: 0 0 30px 0;
}

div.dialogcontentwrapper.upload #wrap {
    width: 800px;
    margin: 0 auto;
}

div.dialogcontentwrapper.upload #files {
    margin: 0 0 0 400px;
    width: 356px;
    padding: 20px 20px 40px 20px;
    border: solid 2px #ccc;
    background: #fefefe;
    min-height: 240px;
    position: relative;
}

div.dialogcontentwrapper.upload #files {
    -moz-box-shadow: 0 0 20px #ccc;
}

div.dialogcontentwrapper.upload #fileList {
    list-style: none;
    padding: 0;
    margin: 0;
}

    div.dialogcontentwrapper.upload #fileList li {
        margin: 0;
        padding: 10px 0;
        margin: 0;
        overflow: auto;
        border-bottom: solid 1px #ccc;
        position: relative;
    }

        div.dialogcontentwrapper.upload #fileList li img {
            width: 120px;
            border: solid 1px #999;
            padding: 6px;
            margin: 0 10px 0 0;
            background-color: #eee;
            display: block;
            float: left;
        }

div.dialogcontentwrapper.upload #reset {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    text-decoration: none;
}

div.dialogcontentwrapper.upload #reset:hover {
    color: #333;
}

div.dialogcontentwrapper.upload #upload {
    color: #fff;
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
    width: auto;
    background-color: #777;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 6px;
}

div.dialogcontentwrapper.upload #upload:hover {
    background-color: #333;
}

div.dialogcontentwrapper.upload .loader {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: orange;
}

div.dialogcontentwrapper.upload .loadingIndicator {
    width: 0%;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: 0;
}

/***************************** CONTEXTMENU ***********************/
#ctxtmenucontainer {

}
	#ctxtmenucontainer #ctxtmenuoverlay {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index:100;
	}
	#ctxtmenucontainer ul#ctxtmenu {
		background:#EEEEEE;
		position:absolute;
		width:150px;
		z-index:101;
		border:1px solid #CCCCCC;
		list-style:none;
		margin:0;
		padding:0;
	}
		#ctxtmenucontainer ul#ctxtmenu li {
			margin:0;
			padding:0;
			list-style:none;
			line-height:20px;
			padding:2px;
			padding-left:5px;
		}
			#ctxtmenucontainer ul#ctxtmenu li:first-child {
				font-weight:bold;
			}
			#ctxtmenucontainer ul#ctxtmenu li.sep {
				border-top:1px solid #CCCCCC;
			}
			#ctxtmenucontainer ul#ctxtmenu li:hover {
				background-color:#deeecd;
			}

/*************** DIALOG ***************/
#dialogcontainer {

}
#dialogoverlay {
	height:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#FFFFFF;
	opacity:.7;
	z-index:1000;
}
#dialog {
	height:auto;
	background:#FFFFFF;
	position:absolute;
	min-width:300px;
	min-height:200px;
	opacity:1;
	border:5px solid #58792A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:1001;
}
#dialog h2 {
	background:#58792A;
	text-transform:uppercase;
	color:#FFFFFF;
	margin:0;
	padding:2px 2px 2px 5px;
	height:20px;
	font-size:0.9em;
}
#dialog #closedialog {
	background-image: url(design/icon_close.png);
	width:18px;
	height:18px;
	position:absolute;
	right:0;
	top:0;
	display:block;
}
#dialog #innercontent {
	padding:5px 5px 5px 5px;
	height:auto;
}
#dialog #innercontent p:first-child {
	padding:0;
	margin:0;
}
#dialog footer {
	background:#58792A;
	position:absolute;
	bottom:0;
	width:100%;
}

/********** TABS REWRITE **************/
#tabs {
	position:absolute;
	top:0;
	bottom:0;
	left:256px;
	right:0;
	border-left:1px solid #58792A;
}
#tabs #panels {
	clear:both;
	position:absolute;
	top:23px;
	right:0;
	bottom:0;
	left:0;
}
#tabs #panels div.panel {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	display:block;
}
#tabs #panels div.panel[data-status="inactive"] {
	display:none;
}
#tabs #panels div.panel iframe {
	position:relative;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#tabs ul#tablist {
	list-style:none;
	padding:0;
	margin:0;
	height:22px;
	width:100%;
	border-bottom:1px solid #58792A;
}
#tabs ul#tablist li.tab {
	cursor:pointer;
	margin:0;
	padding:1px 2px 1px 8px;
	border-right:1px solid #dddddd;
	background:#F2F2F2;
	height:20px;
	line-height:20px;
	float:left;
	background:#5A7C2D;
	color:#FFFFFF;
}
#tabs ul#tablist li.tab[data-status="inactive"]:hover {
	background:#C0B66E;
	color:#FFFFFF;
}
#tabs ul#tablist li.tab[data-status="inactive"] {
	background:#F2F2F2;
	color:#000000;
}
#tabs ul#tablist li.tab span.close {
	float:right;
	display:block;
	width:18px;
	height:18px;
	background:url(design/icon_close.png);
	margin-left:2px;
}

/*********** EDITOR *************/
.CodeMirror {
	height:auto;
	background:#FFFFFF;
}
.CodeMirror-scroll {
	height:100%;
}
.editornav {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:26px;
	background:#F2F2F2;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	margin:0;
	padding:0;
	list-style:none;
}
.editornav li {
	padding:4px 4px 4px 3px;
	background:no-repeat transparent 3px 4px;
	border-left:1px solid #dddddd;
	height:18px;
	width:18px;
	float:left;
}
.editornav li:first-child {
	border-left:0px;
}
.editornav li:hover {
	background-color:#CDDEEE;
}
.editornav li.save {
	background-image: url(design/icon_save.png);
}
.editornav li.search {
	background-image: url(design/binocular.png);
}
.editornav li.undo {
	background-image: url(design/arrow-return-180-left.png);
}
.editornav li.redo {
	background-image: url(design/arrow-return.png);
}
.editornav li.jump {
	background-image: url(design/blue-document--arrow.png);
}
.editornav li.reindsel {
	background-image: url(design/edit-indent.png);
}
.editornav li.reinddoc {
	background-image: url(design/document-node.png);
}
.editornav li[data-status="0"],
.editornav li[data-status="-1"] {
	opacity: 0.3;
}
.editornav li[data-status="0"] {
	background-color:#dddddd;
}
.editornav li[data-status="-1"] {
	background-color:#aaaaaa;
}
.editorwrapper {
	position: absolute;
	top: 28px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
}
.CodeMirror .activeline {background: #f0fcff !important;}
.CodeMirror-gutter {min-width: 2.6em; cursor: pointer;}