/* ecoder tree stylesheet */

/* generic */
html, body, div, iframe { margin:0; padding:0; font-size: 9pt; font-family: verdana, helvetica, sans-serif; }
body { background: #f2f2f2; }
a:link, a:hover, a:visited { text-decoration: none; color: #525252; }

/* javascript test & loader */
#load_tree { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background: url(design/bg_white_80.png);
	z-index: 100; 
	text-align: center; 
	width: 100%; 
	height: 100%;
	margin: 0 auto; 
} 
#load_tree .spin { 
	background-color: transparent; 
	float: left; 
	width: 250px; 
	padding-top: 250px; 
}

/* tree */
.tree_nav { 
	z-index: 2; 
	position: fixed;
	width: 235px; 
	height: 55px; 
	padding: 0px; 
	background: #f2f2f2; 
	border-bottom: 1px solid #dddddd; 
}
.tree_nav .trail {
	height: 21px; 
	padding: 4px 0 2px 7px; 
	background: #58792A; 
	color: #fff; 
	width: 228px; 
}
.tree_nav .click { 
	height: 26px; 
	padding: 0px; 
	margin: 0 0 0 3px; 
}
.tree_nav .click div { 
	float: left; 
	border-right:1px solid #DDDDDD; 
	margin: 2px 0; 
	height: 22px;
	width: 26px;
	background:transparent 50% 50% no-repeat;
}
.tree_nav .click div:hover { 
	background-color: #CDDEEE; 
}
.tree_nav .click #home { background-image:url(../../skin/one/design/icon_home.png); }
.tree_nav .click #fileadd { background-image:url(../../skin/one/design/icon_file_add.png); }
.tree_nav .click #folderadd { background-image:url(../../skin/one/design/icon_folder_add.png); }
.tree_nav .click #hidden { background-image:url(../../skin/one/design/icon_hidden.png); }
.tree_nav .click #hidden_inactive { background-image:url(../../skin/one/design/icon_hidden_inactive.png); }
.tree_nav .click #upload { background-image:url(../../skin/one/design/icon_upload.png); }
.tree_nav .click #refresh { background-image:url(../../skin/one/design/icon_refresh.png); }
.tree_nav .click #secure { background-image:url(../../skin/one/design/icon_logout.png); }
.tree_nav .click .icon img { 
	margin: 0px; 
	padding: 2pt 6px 1pt 5px; 
}



ul.nodes a img.link { border: none !important; }
ul.nodes {
	width: 235px;
	margin: 0; 
	list-style-type: none;
	padding: 0; 
	font-family: Verdana, Helvetica, sans-serif; 
}
ul.nodes > li { 
	border-bottom: 1px solid #DDD;
	color: #525252;
	padding: 3px 10px 3px 28px;
	background: no-repeat 5px 2px;
	height: 15px;
}
ul.nodes > li.read { background-color: #dddddd; }
ul.nodes > li.no-read { background-color: #ABA6A6; color: #000; }

ul.nodes > li:hover {
	color: #4C4C4C; 
	background-color:#CDDEEE; 
}

/* context menu */
ul.menu {
	padding: 0; 
	margin: 0; 
	list-style: none;
	display:none;
	width: 150px; 
	z-index: 100; 
	position: absolute; 
	margin-left: 20px;
	top: 10px;
	border: 1px solid #B2A4A4;
	background:#FFFFFF;
}
ul.menu li {
	height:20px;
}
ul.menu li:hover {
	background-color: #CDDEEE;
}
ul.menu li.default {
	font-weight:bold;
}

div.menuoverlay {
	background:transparent;
	z-index:99;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none;
}

ul.nodes #error a {
	background-image:url(design/icon_error.png);
}
ul.nodes #up a {
	background-image:url(design/icon_up.png);
}
ul.nodes .folder {
	background-image:url(design/icon_folder.png);
}
ul.nodes .unknown {
	background-image:url(design/icon_error.png); /*We don't seem to have an icon for this??*/
	background-repeat:no-repeat;
	background-position:5px 5px;
}

html { height: 0; }