/* ecoder edit stylesheet */

/* generic */

html, body, iframe { margin:0; padding:0; height:99%; font-size: 9pt; background: #f2f2f2; font-family: verdana, helvetica, sans-serif; }
a:link, a:hover, a:visited { text-decoration: none; color: #525252; }
h1 { font-size: 16pt; color: #717171; padding: 6px 0 3px 10px; margin: 15px 0 3px 0; }
p { color: #525252;  padding: 3px 0 3px 10px; margin: 0px; }

html, body {
	height:100%;
}

/* edit nav */
.edit_nav { 
	position: fixed; 
	top: 0px; 
	margin: 0; 
	height: 28px; 
	background: #f2f2f2; 
	border-bottom: 1px solid #dddddd; 
	border-top: 1px solid #dddddd; 
	padding: 0px; 
	left:0;
	right:0;
}
.edit_nav .file { height: 18px; padding: 3px 10px 2px 8px; background: #58792A; color: #fff; }
.edit_nav .file .name { float: left; }
.edit_nav .file .brand { float: right; width: 150px; text-align: right; }
.edit_nav .file .brand a { color: #fff; }
.edit_nav .options { height: 22px; padding: 0px 0 0px 0px; border-top: 0px solid #dddddd; }
.edit_nav .options .details { float: left; padding: 5px 12px 3px 10px; height: 10px; }

/* edit area */
.content_wrapper {
	position:absolute;
	top:30px;
	bottom:0;
	left:0;
	right:0;
}

.edit_area { 
	height:100%;
	overflow:scroll;
}

/* save */
.edit_nav .options #save_0 { float: left; background: url(../../skin/one/design/icon_save_inactive.png) no-repeat 5px 5px; padding: 5px 8px 1px 29px; border-right: 1px solid #dddddd; margin: 0px; color: #bdbdbd; }
.edit_nav .options #save_1 { float: left; height: 27px; background: url(../../skin/one/design/icon_save.png) no-repeat 5px 5px; margin: 0px; border-right: 1px solid #dddddd; }
.edit_nav .options #save_1 a { display: block; padding: 5px 8px 5px 29px; }
.edit_nav .options #save_1 a:hover { background: url(../../skin/one/design/icon_save.png) no-repeat 5px 5px #CDDEEE; color: #736C6C; }

/* autosave */
.autosave { background: transparent; color: #fff; float: left; color: #fff; height: 27px; margin: 0; padding: 0px; border-right: 1px solid #dddddd; }
.autosave .swap_on { float: left; margin: 0;  }
.autosave .swap_on a { background: url(../../skin/one/design/icon_autosave_on.png) no-repeat 5px 5px #D24407; display: block; text-decoration: none; color: #fff; padding: 5px 8px 5px 27px; }
.autosave .swap_off { float: left; margin: 0; }
.autosave .swap_off a { background: url(../../skin/one/design/icon_autosave_off.png) no-repeat 5px 5px #DDDDDD; display: block; text-decoration: none; color: #909090; padding: 5px 8px 5px 27px; }
.autosave .disabled { height: 17px; background: url(../../skin/one/design/icon_autosave_disabled.png) no-repeat 5px 5px #f2f2f2; display: block; text-decoration: none; color: #909090; padding: 5px 8px 5px 27px; }
.autosave .disabled .note { padding: 0px; margin: 0px; }
.autosave .swap_off a:hover, .autosave .swap_on a:hover { background-color: #CDDEEE; color: #736C6C; }

/* reload */
.edit_nav .options #reload_0 { float: left; background: url(../../skin/one/design/icon_reload_inactive.png) no-repeat 5px 5px; padding: 5px 8px 1px 29px; border-right: 1px solid #dddddd; margin: 0px; color: #bdbdbd; }
.edit_nav .options #reload_1 { float: left; height: 27px; background: url(../../skin/one/design/icon_reload.png) no-repeat 5px 5px; border-right: 1px solid #dddddd; margin: 0px; }
.edit_nav .options #reload_1 a { display: block; padding: 5px 8px 5px 29px; }
.edit_nav .options #reload_1 a:hover { background: url(../../skin/one/design/icon_reload.png) no-repeat 5px 5px #CDDEEE; color: #736C6C; }

/* close */
.edit_nav .options #close_0 { float: left; background: url(../../skin/one/design/icon_close_inactive.png) no-repeat 5px 5px; padding: 5px 8px 1px 29px; border-right: 1px solid #dddddd; margin: 0px; color: #bdbdbd; }
.edit_nav .options #close_1 { float: left; height: 27px; background: url(../../skin/one/design/icon_close.png) no-repeat 5px 5px; border-right: 1px solid #dddddd; margin: 0px; }
.edit_nav .options #close_1 a { display: block; padding: 5px 8px 5px 29px; }
.edit_nav .options #close_1 a:hover { background: url(../../skin/one/design/icon_close.png) no-repeat 5px 5px #CDDEEE; color: #736C6C; }

/* save report */
#save { float: left; display: none; background: #E94400; color: #fff; padding: 5px 10px 0px 10px; }
#save_report { float: left; background: #E94400; color: #fff; padding: 5px 10px 0px 10px; }
#save_confirm { background: #168ECA; color: #fff; float:left; margin:3px 0pt 10px 0px; padding:5px 10px; text-align:center; }
#save_changes { float: left; display: none; background: #dddddd; padding: 5px 10px 0px 10px; }

/* right nav options */
.delete, .rename, .editor, .info { float: right; height: 27px; background: #f2f2f2; margin: 0; display: block; border-left: 1px solid #dddddd; }
.delete .disabled, .rename .disabled, .editor .disabled, .info .disabled { background: #f2f2f2; }
.delete img, .rename img, .editor img, .info img { padding: 5px 6px 4px 6px; border: 0px; }
.delete img:hover, .rename img:hover, .editor img:hover, .info img:hover { background-color: #CDDEEE; }

/* brand */
.logo { float: right; height: 27px; width: 29px; margin: 0; background: #5A7C2D; display: block; }
.logo img { padding: 5px 6px 4px 6px; border: 0px; }
.logo img:hover { background-color: #CDDEEE; }

/* edit pages ## */
.edit_form { float: left; padding: 0px 0px 0px 8px }
.edit_form h1 { color: #8A8A8A; padding: 0 0 2px 0px; font-size: 17pt; }
.edit_form p { color: #505050; padding: 0 0px 12px 0px; }
.edit_form .filename { float: left; padding: 0px 10px 0 0; margin: 0 0 10px 0; clear: both; }
.edit_form .edit { width: 270px; font-size: 15pt; padding: 3px; }
.edit_form .dot { float: left; font-size: 20pt; line-height: 0.5em; padding: 2px 5px 0 5px; }
.edit_form .text { width: 350px; font-size: 15pt; padding: 3px; }
.edit_form .type { float: left; padding: 4px 0 0 3px; }
.edit_form .type_rename { float: left; padding: 4px 0 0 3px; font-size: 16pt; }
.edit_form .select { width: 80px; }

 html { height: 96%; }
            body { margin:0; padding:0; }